@charset "UTF-8";

/*Typical Device Breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
TV: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #0c0c2e, #1a1a69);
    }

    .card {
        padding: 30px 40px;
        max-width: 450px;
        border-radius: 10px;
    }

    .tittle {
        font-size: 3rem;
        line-height: 6rem;
        padding: 0px 55px;
    }

    form button {
        font-size: 1.5rem;
        text-indent: 10px;
    }

    /*modal wrapper*/
    .modal .title-modal {
        padding: 30px 12px;
        font-size: 2.6rem;
        line-height: 3.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        background-image: linear-gradient(to bottom, #0c0c2e, #1a1a69);
    }

    .imc-dados {
        margin-top: 10px;
        place-content: center;
        display: grid;
        box-sizing: border-box;
    }

    .input-wrapper {
        margin-top: 1rem;
    }

    .btn-submit {
        margin-top: 10px;
    }

    .card {
        padding: 40px 60px;
        max-width: 550px;
        border-radius: 10px;
    }

    .tittle {
        font-size: 3.4rem;
        line-height: 6.4rem;
        padding: 0px 60px;
    }

    form label {
        line-height: 1.5rem;
    }

    form button {
        font-size: 1.5rem;
        text-indent: 10px;
    }

    /*modal wrapper*/
    .modal .title-modal {
        padding: 15px 10px;
        font-size: 2.6rem;
        line-height: 4.2rem;
    }

}

@media screen and (min-width: 1200px) {
    body {
        background-image: linear-gradient(to bottom, #0c0c2e, #1a1a69);
    }

    .imc-dados {
        display: none;
    }

    .imc-dados2 {
        margin: 25px;
        place-content: center;
        display: grid;
        box-sizing: border-box;
    }


    .card {
        padding: 50px 70px;
        max-width: 650px;
        border-radius: 10px;
    }

    .tittle {
        font-size: 3.7rem;
        line-height: 6rem;
        padding: 0px 90px;
    }

    form label {
        line-height: 1.5rem;
    }

    form button {
        font-size: 1.6rem;
        text-indent: 10px;
    }

    .input-wrapper {
        margin-top: 1rem;
    }

    .btn-submit {
        margin-top: 10px;
    }

    /*modal wrapper*/
    .modal-wrapper {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);

        display: grid;
        place-content: center;

    }

    .modal .title-modal {
        padding: 10px 30px;
        font-size: 2.9rem;
        line-height: 4rem;
    }

}