@charset "UTF-8";

/*Typical Device Breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
TV: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #0c0c2e, #1a1a69);
    }

    .container {
        height: 100vh;
        display: grid;
        place-content: center;

    }

    .card {
        padding: 4.8rem 5.4rem 5.4rem;
        min-width: 40.5rem;

    }

    .tittle {
        font-size: 3.3rem;
        line-height: 6rem;
    }

    form button {
        font-size: 1.4rem;
        text-indent: 10px;
    }

    /*modal wrapper*/
    .modal-wrapper {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);

        display: grid;
        place-content: center;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        background-image: linear-gradient(to bottom, #0c0c2e, #1a1a69);
    }

    .card {
        padding: 4.8rem 5.4rem 5.4rem;
        min-width: 50.5rem;

    }

    .tittle {
        font-size: 3.3rem;
        line-height: 6rem;
        color: var(--tt-heading);
    }

    form button {
        font-size: 1.5rem;
        text-indent: 10px;
    }

}

@media screen and (min-width: 1200px) {
    body {
        background-image: linear-gradient(to bottom, #0c0c2e, #1a1a69);
    }

    .card {
        padding: 4.8rem 5.4rem 5.4rem;
        min-width: 60.5rem;
    }

    .tittle {
        text-align: center;
        font-size: 3.3rem;
        line-height: 8rem;
        color: var(--tt-heading);
    }

    form button {
        font-size: 1.6rem;
        text-indent: 10px;
    }

     /*modal wrapper*/
     .modal-wrapper {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);

        display: grid;
        place-content: center;

    }

}