@charset "UTF-8";

/*Typical Device Breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
TV: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #0c0c2e, #1a1a69);
    }

    .card {
        padding: 40px 50px;
        max-width: 450px;
        border-radius: 10px;
    }

    .tittle {
        font-size: 2.8rem;
        line-height: 6rem;
        padding: 0px 55px;
        padding-bottom: 25px;
    }

    form button {
        font-size: 1.5rem;
        text-indent: 10px;
    }

    .input-wrapper{
        margin-bottom: 2.5rem;
    }

    /*modal wrapper*/
    .modal .title-modal {
        padding: 0px 10px;
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .img-imc {
        padding-bottom: 10px;
        margin-top: 25px;
    }
    .modal-weight{
        padding: 0px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        background-image: linear-gradient(to bottom, #0c0c2e, #1a1a69);
    }

    .imc-dados {
        margin-top: 10px;
        place-content: center;
        display: grid;
        box-sizing: border-box;
    }

    .input-wrapper {
        margin-top: 1rem;
    }

    .btn-submit {
        margin-top: 10px;
    }

    .card {
        padding: 30px 60px;
        max-width: 550px;
        border-radius: 10px;
    }

    .tittle {
        font-size: 3.4rem;
        line-height: 6.4rem;
        padding: 0px 60px;
    }

    form label {
        line-height: 1.5rem;
    }

    form button {
        font-size: 1.5rem;
        text-indent: 10px;
    }

    /*modal wrapper*/
    .modal .title-modal {
        padding: 5px 10px;
        font-size: 2.7rem;
        line-height: 5.5rem;
    }

    .img-imc {
        padding: 25px 0px;
        margin-top: 10px;
    }
   
}

@media screen and (min-width: 1200px) {
    body {
        background-image: linear-gradient(to bottom, #0c0c2e, #1a1a69);
    }

    .imc-dados {
        display: none;
    }

    .imc-dados2 {
        margin: 25px;
        place-content: center;
        display: grid;
        box-sizing: border-box;
    }


    .card {
        padding: 40px 70px;
        max-width: 650px;
        border-radius: 10px;
    }

    .tittle {
        font-size: 3.7rem;
        line-height: 6rem;
        padding: 0px 80px;
        text-align: center;

    }

    form label {
        line-height: 1.5rem;
    }

    form button {
        font-size: 1.6rem;
        text-indent: 10px;
    }

    .input-wrapper {
        max-width: 550px;
        margin-bottom: 2.5rem;
    }

    .btn-submit {
        margin-top: 10px;
    }

    /*modal wrapper*/
    .modal-wrapper {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.486);

        display: grid;
        place-content: center;

    }

    .modal .title-modal {
        padding: 0px 50px;
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .img-imc {
        padding: 15px 0px;
        margin-top: 15px;
    }
    .modal-weight{
        font-size: 3rem;
        margin-top: 10px;
        padding:0px;
    }

}